### System files.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Spyder project settings
.spyderproject
.spyproject

# virtual environment - this could be a dir or a symlink to a path
# like ~/.local/virtualenvs/my_venv/
virtualenv/
virtualenv


### Database.

# Journal is a temporary file created is created when working with the db.
*.db
*.sqlite
*-journal


### Configuration.

# Local configuration files.
app/etc/*.local.conf


### Variable files.

# These may be output from scripts or may be input for other scripts to
# run. Keep the sample directory files.

!app/var/sample

*.json
*.csv
*.~lock*.csv#
*.txt
*.log
