### System files ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment.
venv


### Database ###

# These are equivalent and just depedend on preference.
*.db
*.sqlite

# A temporary file created when working with the DB.
*-journal


### Configuration ###

# Local configuration files.
app/etc/*.local.conf


### Variable files ###

app/var/lib/influencer_scraper/*.txt

app/var/lib/staging/*.csv
app/var/lib/staging/*.~lock*.csv#
app/var/reporting/*.csv

app/var/log/*.log
